/* .barra-flutuante {
    position: fixed;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: #333;
    padding: 10px;
    border-radius: 10px 0 0 10px;
}

.barra-flutuante a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 10px;
    text-align: center;
}

.barra-flutuante a:hover {
    background-color: #555;
} */
