/* Centraliza a seção e o título */
.intro {
    display: flex;
    align-items: center;
    justify-content: left;
    height: 30vh; /* ocupa toda a altura da janela */
    background-color:  #33332D; /* cor de fundo para destaque */
}

/* Estilo para o título principal */
.intro-title {
    font-size: 10vw; /* ajusta conforme a largura da tela */
    color: white;
    text-align: left;
    font-weight: bold;
    margin: 0;
}

/* Ajustes para telas grandes */
@media (min-width: 1024px) {
    .intro-title {
        font-size: 5rem; /* fixa o tamanho em telas grandes */
    }
}
