


@media (max-width: 1200px) {
  /* tamanho da imagem */
  nav {
    min-width: 50rem
  }

}

@media (min-width: 930px) {
  .menu-icon {
    display: none;
  }
  

}
@media (max-width: 930px) {
  .initial.home {
    
    flex-direction: column;
    
  }

  .NavEnd ul li{
    display: none;
  }
  nav {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  header {
    height: 100px;
  }
  .esquerdo img {
    width: 250px;
  }
  .direito article h1 {
    font-size: 35pt;
  }
  br {
    display: none;
  }
  .direito article h2 {
    font-size: 20pt;
  }
  }
  

  @media (max-width: 500px) {
    .esquerdo img {
      width: 200px;
    }
    .direito article h1{
      padding-top: 20px;
      font-size: 23pt;
    }
    .direito article h2 {
      font-size: 15pt;
    }
  }