* {
  margin: 0;
  padding: 0;
  font-family: "Gobold";
}

header,
.initial {
  background-color: #0b150e;
  color: #e0e0e0;
}

header {
  display: flex;
  height: 20vh;
}

.interface {
  /* margin: 0px 100px; */
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.interface .expandir {
  color: white;
  text-decoration: none;
  transition: 0.6s ease-in-out;
}

.expandir:hover {
  transform: scale(1.2);
}
header .interface {
  align-items: center;
  height: 100%;
}

main .interface {
  margin: 0px 70px;
}

.initnav {
  width: 280px;
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 24px;
  font-family: "Gobold";
}

.initnav logo {
  width: 140px;
  text-align: center;
  justify-content: center;
}

.initnav logo a {
  text-decoration: none;
  font-family: "Gobold";
  color: #0ec563;
}
.initnav logo span {
  font-size: 70px;
}

.divisao {
  background-color: rgb(255, 255, 255);
  width: 1px;
  height: 30px;
}

header .NavEnd ul {
  list-style: none;
  display: flex;
  gap: 40px;
  color: #0ec563;

}

header .NavEnd li,a {
  cursor: pointer;
  text-decoration: none;
}

.effect {
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
}

.effect:hover {
  transform: rotate(8deg);
  display: inline-block;
}

@font-face {
  font-family: "Gobold";
  src: url("/fonts/Gobold\ Uplow.otf") format("opentype");
}

/* main */
.initial {
  display: flex;
  height: 80vh;
  padding: 0 100px;
}

.initial section {
  /* background-color: rgb(0, 0, 0); */
  width: 100%;
}

.initial .esquerdo img{
  width: 90%;
 
}


.initial .direito article h1 {
  font-size: 55pt;
  color: #0ec563;
}

.initial .direito article h2 {
  margin-top: 10px;
  font-size: 35pt;
  font-family: 'poppins', sans-serif;
}

.initial .direito article button {
  background-color: #0ec563;
  width: 150px ;
  height: 50px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 40px 0px 0px 100px;
  font-size: 15pt;
 
}
