* {
  margin: 0;
  padding: 0;
  font-family: "Gobold";
}

body {
  height: 100%;
}
header {
  display: flex;
  align-items: center;
  min-height: 80px;
  padding: 20px 0px;
}

header,
.initial {
  background-color: #0b150e;
  color: #e0e0e0;
}
/* classe fixa */
.textos {
  color: #0ec563;
  font-size: 2.5rem;
  font-weight: 700;
  padding: 0px 40px;
}

button {
  background-color: #0ec563;
  width: 50%;
  height: 50px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 40px 0px 0px 100px;
  font-size: 15pt;
}
button:hover {
  background-color: #055a2d;
}

button a {
  color: #0b150e;
}

p,
h5,
h3 {
  font-family: "poppins", Arial;
}

.initial.home {
  display: flex;
  height: 70vh;
  padding: 0 100px;
  align-items: center;
}
header .interface {
  align-items: center;
  height: 100%;
}

.interface {
  /* margin: 0px 100px; */
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.interface .expandir {
  color: white;
  text-decoration: none;
  transition: 0.6s ease-in-out;
}

.expandir:hover {
  transform: scale(1.2);
}

main .interface {
  margin: 0px 70px;
}

.initnav {
  /* background-color: #055a2d; */
  width: 280px;
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 24px;
  font-family: "Gobold";
}

.initnav .logo {
  width: 140px;
  text-align: center;
  justify-content: center;
}

.initnav .logo a {
  text-decoration: none;
  font-family: "Gobold";
  color: #0ec563;
}
.initnav .logo span {
  font-size: 70px;
}

.divisao {
  background-color: rgb(255, 255, 255);
  width: 1px;
  height: 30px;
}

header .NavEnd ul {
  list-style: none;
  display: flex;
  gap: 40px;
}

header .NavEnd li,
a {
  cursor: pointer;
  text-decoration: none;
  color: #0ec563;
}

a:hover {
  color: #055a2d;
}

.interface .direito article a:hover {
  color: #055a2d;
}

.effect {
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
}

.effect:hover {
  transform: rotate(8deg);
  display: inline-block;
}

@font-face {
  font-family: "Gobold";
  src: url("/fonts/Gobold\ Uplow.otf") format("opentype");
}

/* main */
.initial section {
  /* background-color: rgb(0, 0, 0); */
  width: 100%;
}

.initial .esquerdo img {
  width: 75%;
}

.initial .direito article h1 {
  font-size: 55pt;
  color: #0ec563;
}

.initial .direito article h2 {
  margin-top: 10px;
  font-size: 35pt;
  font-family: "poppins", sans-serif;
}

/* sobre */

.initnav.curriculo {
  width: 40%;
}

.initial.curriculo {
  min-height: 80vh;
  display: flex;
  padding: 40px 80px;
  justify-content: space-around;
  align-items: flex-start;
  padding: 0px 200px;
}

.esquerdo.curriculo {
  flex: 1;
  max-width: 70%;
  border: solid 1px;
  padding: 20px;
  border-style: dashed;
}

.esquerdo.curriculo h1 {
  font-size: 40pt;
}

.esquerdo.curriculo h2 {
  color: #0ec563;
  margin: 25px 0px 0px;
}

.esquerdo.curriculo ul,
li,
b {
  font-family: "poppins", Arial;
}
.esquerdo.curriculo ul,
li {
  margin-left: 11px;
}

.esquerdo.curriculo b {
  color: #0ec563;
}


/* projetos */

.initial.projetos {
  display: block;
  padding: 50px 100px;
  height: 80vh;
}

main .projetos {
  display: block;
}

.txt-projetos h2 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 30px;
}

.cards {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.box {
  background-color: #101613;
  width: 280px;
  height: 350px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.box:hover {
  transform: scale(1.05);
  border: solid 1px #0ec563;
}

.card-img {
  height: 220px;
  background-color: #0b150e;
  border-radius: 20px 20px 0 0;
}

.card-footer {
  padding: 10px;
  background-color: #101613;
  text-align: center;
  border-radius: 0 0 20px 20px;
}

.card-footer h3 {
  color: #e2f6e9;
  font-size: 0.95rem;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}

/* Artigos */
.initial.artigos {
  padding: 20px 100px;
  height: auto;
}

.card1 {
  position: relative;
  display: inline-block;
}

/* efeito do card */

.card1::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1px;
  width: 100%;
  background-color: #8caca1; /* cor da linha */
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.4s ease-in-out;
}

.card1:hover::after {
  transform: scaleX(1);
}

.section_art {
  padding: 50px 150px;
}

.section_art .divisao {
  margin: 20px 0px;
}

.section_art .date,
p {
  color: #8caca1;
}

.section_art .title_art {
  color: #0ec563;
}

.ver_mais {
  display: flex;
  text-align: center;
  justify-content: center;
}

.ver_mais {
  justify-content: center;
  align-items: center;
  color: #0b150e;
}

/* footer */

footer {
  display: flex;
  text-align: center;
  justify-content: center;
  background-color: #c8d8d3;
  color: #175338;
}

.rodape {
  display: flex;
  width: 40%;
  justify-content: space-around;
  height: 20vh;
  font-size: 15pt;
}

footer a {
  font-family: "poppins", Arial;
  font-weight: 600;
  color: #055a2d;
}

.icons i {
  font-size: 30px;
}
.icons,
.navs {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* creditos developer */
#developer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #c8d8d3;
  height: 50px;
}

#developer h1 {
  font-family: "poppins", Arial;
  font-size: 10pt;
  color: #055a2d;
}

/* page artigos */

.art .initial.artigos {
  height: 100%;
}

/* navlinks */

.navLinks {
  text-align: center;
  margin: 20px 0px;
}